<%- include('../includes/admin-header.ejs') %>
</head>

<body>
    <%- include('../includes/admin-navbar.ejs') %>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Loan Type</th>
              <th scope="col">Duartion</th>
              <th scope="col">Amount</th>
              <th scope="col">Operations</th>
            </tr>
          </thead>
          <tbody>
<% if(!Loans){ %>
    <h1>No loans added yet</h1>
  <%  }        
  else{  %>
    <% for(let loan of Loans){ %>
        <tr>
            <th scope="row"><%= loan.id %></th>
            <td><%= loan.loanType %></td>
            <td><%= loan.duration %></td>
            <td>₦<%= loan.amount %></td>
            <td> 
              <a class="btn btn-success py-1" href="/admin-update-loan/<%=loan.id%>"> <i class="fas fa-pencil"></i>Update</a>
              <form action="/admin-delete-loan" method="post">
              <input type="hidden" value="<%=loan.id %>" name="Id">
              <button class="btn btn-danger  py-1"><i class="fas fa-trash-can"></i>Remove</button>
            </td>
            </form>
          </tr>
     <%  } %>

 <% }
  %>
          </tbody>
      </table>
  
    <%- include('../includes/admin-footer.ejs') %>
</body>

</html>