<%- include ('../includes/header.ejs') %>
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family:Rubik_Gemstones;
        /* font-family: DancingScript; */
    }
   
 
    #main-page{
        /* background-color: rgb(12, 23, 51); */
        background-image:url('/images/bg-1.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        /* color: rgb(12, 23, 51); */
        color: white;
    }
.section{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    border: 1px solid white;
}

.box{
    color: white;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

span{
    color: rgb(12, 23, 51);
    font-size: 25px;
    border: 5px;
}
/* #progBG{
    background-color: rgb(12, 23, 51);
} */
input{
    color: white;
    background-color: rgb(12, 23, 51);
}
#bar{
    border-radius: 50px;
    text-align: center;
    padding: 15px;
}
#userPic{
    width: 75px;
    height: 75px;
    border-radius: 75px;
}
input{
    border-end-end-radius: none;
    border-bottom: 1px solid black;
    outline: none;
}
/* media query responsiveness  */

@media only screen and (max-width: 768px) {
  body {
    /* width: 768px; */
    overflow-x: hidden;
    }
  .section{
    display: flex;
    flex-direction: column;
    
    width: auto;
  }
  .box{
    width: 100%;
  }
}
</style>
</head>
<body>
<main id="main-page">
    <%- include ('../includes/navbar.ejs') %>
   
    <section class="section">
        <% if(isLoggedIn){ %>
        <div class="box">
                <img src="<%=User.picture %>" id="userPic" alt="user picture">
            </div>
            <% } %>
       
<% if(isLoggedIn){ %>
 <div class="box">
                <h5>Your Profile is <%= Percent %>% <i>Complete</i></h5>
                <div id="bar" class="progress-bar-striped progress-bar-animated bg-danger mx-2" style='width:<%=Percent%>%'><%= Percent %> %</div>
        </div>
<% } %>
       
        <div class="box">
            <% if(!isLoggedIn){ %>
                Welcome <span>User</span>
        <%    }  
        else{  %>
         <p>Welcome  <span style="font-family: Rubik_Gemstones; padding: 3px; color:aliceblue;"><%=User.name %></span> </p>
     <%   } %>
          
        </div>
    </section>   
    <section class="section">
      <% if(Percent >= 70){ %>
        <div class="box">
            <% if(!Loans){  %>
                <h2>No Loans Availabe </h2>
        <%    } 
        else{  
            for(let loan of Loans) {  %>
                <form action="/apply-loan" method="post">
               
                    <div>
                        <input type="text" name="Category" value="<%=loan.loanType %>" disabled >
                    </div>
                    <div>
                        <input type="number" name="Amount" value="<%=loan.amount %>" disabled >
                    </div>
                    <div>
                         <input type="text" name="Duration" value="<%=loan.duration %> Months" disabled >
                    </div>
                    <!-- <input type="text" name="Category" value="<%=loan.loanType %>" disabled> -->
            <input type="hidden" name="Name" value="<%=User.name %>">
            <input type="hidden" name="Id" value="<%=User.id %>">
            <input type="hidden" name="Bvn" value="<%=User.bvn %>">
            <input type="hidden" name="Account" value="<%=User.account %>">
            <input type="hidden" name="Picture" value="<%=User.picture %>">
            <input type="hidden" name="Email" value="<%=User.email%>">
            <input type="hidden" name="Bank" value="<%=User.bank%>">
            <input type="hidden" name="Phone" value="<%=User.phone%>">
            <input type="hidden" name="LoanType" value="<%=loan.loanType %>">
            <input type="hidden" name="LoanAmount" value="<%=loan.amount %>">
            <input type="hidden" name="LoanDuration" value="<%=loan.duration %>">
            <button type="submit">Get Loan</button>
            </form>
     <%    }
       }
        %>
            
        </div>
     <% }
     else{  %>
        <h2>Complete your Registration to be eligible for loans, click on the update Profile</h2>
   <%  }
     %>

        <div class="box">
              
        </div>
     
       
        <div class="box">
       
        </div>
    </section> 
</main>

<%- include ('../includes/footer.ejs') %>
</body>
</html>