<%- include('../includes/header.ejs') %>
<style>
    body{
        background-image: url('/images/bg7.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       background-attachment: fixed;
       width: 100%;
    }
    h1,h4{
        text-align: center;
    }
    main{
        color: white;
        width: 100%;
    }
    .input-box{
        margin: auto;
        width: 80%;
        padding-bottom: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    form{
        margin: auto;
        width:40%;
        color: black;
        margin-top: 10px;
        background-color:white;
        border-radius:12px;
        padding: 15px;
        opacity: 0.7;
        display: flexbox;
    }
    #Email{
            width: 100%;
            border: none;
            height: 40px;
            color: black;
            border-bottom: 1px outset black;
             background-color: transparent;
            outline: none;
        }
.Password{
    width: 100%;
    border: none;
   border-bottom: 1px solid black;
   background-color: transparent;
    outline: none;
    height: 40px;
    color: black;
}
label{
    color: black;
    text-align: left;
    font-size: 20px;
}



@media only screen and (max-width:768px) {
    body{
        max-height: fit-content;
    }
    main{
        display: block;
        width: 100%;
        height: 80%;
        margin-bottom: 30px;
        display: block;
         }
         form{
            margin-top: 10px;
            width: 80%;
            padding-top: 10px;
            padding-bottom: 50px;
         }
}
</style>

<body>
    <main>
        <h1>Cash Grab</h1>
        <form action="/sign-up" method="post" class="text-danger">
           
            <h4>Sign Up </h4>
           
            <div class="input-box">
                <label for="Email">Email</label><br>
                <input type="text" name="Email" id="Email" placeholder="Enter email">
                <div>
                    <% if(ErrorMsg.length!==0){
                    for (let error of ErrorMsg){
                      if(error.path=="Email") { %>
                        <div class="text-danger"> <%= error.msg %></div>
                    <%  }
                    }
                  }
                    %> 
                  
                  </div>
            </div>
    
            <div class="input-box">
                <label for="">Password</label> <br>
                <input type="password" name="Password" class="Password"  placeholder="Enter password">
                <div>
                    <% if(ErrorMsg.length!==0){
                    for (let error of ErrorMsg){
                      if(error.path=="Password") { %>
                        <div class="text-danger"> <%= error.msg %></div>
                    <%  }
                    }
                  }
                    %> 
                  
                  </div>
            </div>

            <div class="input-box">
                <label for="">Confirm Password</label> <br>
                <input type="password" name="ConfirmPassword" class="Password"  placeholder="Confirm password">
                <div>
                    <% if(ErrorMsg.length!==0){
                    for (let error of ErrorMsg){
                      if(error.path=="ConfirmPassword") { %>
                        <div class="text-danger"> <%= error.msg %></div>
                    <%  }
                    }
                  }
                    %> 
                  
                  </div>
            </div>
    <div class="input-box">
        <button type="submit" class="btn w-50  my-3 bg-primary text-light fa-fade">Sign Up <span class="fas fa-sign-in fa  fa-fade"></span></button>
    </div>
          
        </form>
    </main>    
    <%- include('../includes/footer.ejs') %>
</body>
</html>